HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# Spring Boot
../application.log
../React/application.log
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ignore things in the idea folder
misc.xml
modules.xml
OpenBooks.iml
vcs.xml
workspace.xml
Project_Default.xml

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
../.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
